# Emacs
*.elc
*.eln
eln-cache/
.emacs.desktop
.emacs.desktop.lock
emacsCppHero/auto-save-list/
emacsCppHero/elpa/
emacsCppHero/straight/
emacsCppHero/server/
emacsCppHero/tramp
auto-save-list/
semanticdb/
session/
url/

# General Binaries and objects
*.o
*.so
*.a
*.out
*.exe
*.dll
*.class
*.pyc
__pycache__/

# OS Generated
.DS_Store
Thumbs.db

# Other caches
.cache/
