.cache/*
.idea/*
eln-cache/*
.idea
.cache
elpa/*
elpaca/*
eln-cache
elpa
elpaca
ede-projects.el
projectile-bookmarks.eld
tramp
places
.emeacs.desktop*
tree-sitter/*
.vscode/*
.vscode
tree-sitter
emacs.desktop*
history*
recentf*
projects
